# .gitignore 

# Python bytecode and caches
__pycache__/
.pytest_cache/

# Virtual environment
.tslvenv/

# DVC
/.dvc/tmp
/.dvc/cache

# VS Code workspace and extensions
.vscode/

# CSV files
*.csv

# Logs
*.log
logs/

# Build leftovers
*.tmp

# Caches
.cache/

